<div class="body">
    <video #remoteVideo controls autoplay></video>
    <div class="footer">
        
        <div class="profile-pic-container">
            <img class="pfp" id="creatorProfilePic" src="https://i.imgur.com/1ZQ3w9q.jpg" alt="profile pic">
            <img class="pfp" id="userProfilePic" src="https://i.imgur.com/1ZQ3w9q.jpg" alt="profile pic">
        </div>
        <div class="button-container">
            <button (click)="mute()" >Mute</button>
            <button (click)="hangUpCall()">End Call</button>
        </div>

    </div>
    
</div>