<div class="body image-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <nb-card class="timer">
        <nb-card-body>
            <div class="layout" class="hide" [id]="remainingTime <= 15 || !isInviter ? 'show' : ''">
                <p>Remaining Time: <app-timer [time]="20000" [functionToCall]="endCallFromApi" (timeChange)="remainingTime = $event"></app-timer>
                </p>
            </div>
        </nb-card-body>
      </nb-card> 
    
    
    <div class="footer">
        
        <div class="profile-pic-container">
            <div class="left box"  [ngClass]="{'center': !inCall}">
                <img class="pfp" id="userProfilePic" *ngIf="!isLocalVideoActive()" [src]="user_profile_pic" alt="profile pic">
                <video #local_video id="localVideo" [style.display]="isLocalVideoActive() ? 'block' : 'none'" [autoplay]="true" [muted]="true"></video>
            </div>
            <div class="right box">
                <img class="pfp" id="creatorProfilePic" *ngIf="inCall && !remoteVideoActive" [src]="remote_profile_pic" alt="profile pic">
                <video #received_video id="localVideo" [style.display]="inCall && remoteVideoActive ? 'block' : 'none'" [autoplay]="true"></video>
                
            </div>
            
            
        </div>
        
        <div class="button-container">
            <!-- <button class="modern-button start-webcam" #webcamButton (click)="webcamHandler()" [disabled]="isScreenShareActive" [innerHTML]="(isWebCamActive) ? 'Stop Webcam' : 'Start Webcam'"></button>
            <button #screenShareButton (click)="screenShareHandler()" [disabled]="screenShareDisabled">Start ScreenShare</button>
            <button #muteButton (click)="mute()" [innerHTML]="muteInnerHTML"></button>
            <button (click)="hangUp()" [disabled]="!inCall">HangUp</button> -->
            <button class="modern-button start-webcam"><i class="fas fa-video"></i></button>
            <button class="modern-button start-screenshare"><i class="fas fa-desktop"></i></button>
            <button class="modern-button mute"><i class="fas fa-microphone-slash"></i></button>
            <button class="modern-button end-call"><i class="fas fa-phone-slash"></i></button>
        </div>
<!-- 
        <div class="local-video-container"> -->
        
        <!-- </div> -->
        
        

    </div>
</div> 






<!-- <div class="container">
    <video #local_video id="localVideo" [autoplay]="true" [muted]="true"></video>
    <video #received_video id="RecievedVideo" [autoplay]="true"></video>
</div>
<div class="footer">
    <button (click)="startLocalVideo()" [disabled]="localVideoActive">Start Local</button>
    <button (click)="pauseLocalVideo()" [disabled]="!localVideoActive">Stop Local</button>
    <button (click)="call()" [disabled]="inCall || !localVideoActive">Call</button>
    <button (click)="hangUp()" [disabled]="!inCall">HangUp</button>
</div> -->

  
