// Have localVideo and recievedVideo side by side

#localVideo {
    z-index: 1;
    // Position the local video in the bottom right corner
    // position: absolute;
    // bottom: 1rem;
    // right: 0;
    // Size the local video to 25% of the screen
    width: 10rem;
    height: 10rem;

}

#videoStream {
    z-index: 0;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
}

#receivedVideo {
    width: 50%;
    height: 100%;
    float: right;

}

.container {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

// Button Container in the bottom center
.button-container {
    // Put items in the bottom center
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    gap: 0.5rem;
}

.center {
    // absolute center
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//profile-pic-container in bottom left corner
.profile-pic-container {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 30rem;
}

// pfp is circular
.pfp {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

button {
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 44, 1); /* Black overlay with 50% transparency */
}

.box {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#show {
    display: block;
}

.hide {
    display: none;
}

.timer {
    color: white;
}

.modern-button {
    width: 80px;    /* adjust as needed */
    height: 50px;   /* adjust as needed */
    padding-left: 2.5%;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modern-button:hover {
    opacity: 0.8;
}

.modern-button i {
    margin-right: 5px;
}

.start-webcam {
    background-color: #323259; /* Green - indicating go/start */
}

.start-screenshare {
    background-color: #323259; /* Blue - generally associated with sharing */
}

.mute {
    background-color: #323259; /* Yellow - warning color, as mute is an alert function */
}

.end-call {
    background-color: #f44336; /* Red - indicating stop/end */
}

.modern-button i {
    width: 20px;    /* adjust as needed */
    height: 20px;   /* adjust as needed */
    font-size: 20px;
}