<div class="container">
    <video #local_video id="localVideo" [autoplay]="true" [muted]="true"></video>
    <video #received_video id="RecievedVideo" [autoplay]="true"></video>
</div>
<div class="footer">
    <button (click)="startLocalVideo()" [disabled]="localVideoActive">Start Local</button>
    <button (click)="pauseLocalVideo()" [disabled]="!localVideoActive">Stop Local</button>
    <button (click)="call()" [disabled]="inCall || !localVideoActive">Call</button>
    <button (click)="hangUp()" [disabled]="!inCall">HangUp</button>
</div>
    
  
