



app-footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  app-header-content {
    width: 100%;
  }
  
  nb-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: #323259;
  
  }
  
  