<nb-layout>

  <nb-layout-header style="padding-bottom: 0px;">
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;">
    <iframe id="stream-embed" src="https://player.twitch.tv/?channel=saurei&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="100%" width="100%"></iframe>

  </nb-layout-column>

  <nb-layout-footer fixed>

  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
