div {
  padding: 25%;
  background-color: #323259;
  text-align: center;
}

.body {
  height: 90%;
  border-radius: 20px;
}

.button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}