<div class="body">
    

    <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)"> 
        <!--  -->
        <div class="choose_file" [ngStyle]="{'background-image': this.filePreview !== '' ? 'url(' + this.filePreview + ')' : '', 'background-size': 'cover' }">
            <img src="../../../assets/camera-solid.svg" alt="select profile image" id="profilePreview">
            <input #imageInput
            type="file"
            accept="image/*"
            (change)="processFile(imageInput)" placeholder="pfp" id="imageInput">
            
        </div>
    
        <input type="text" nbInput name="username" placeholder="username" ngModel> 

        <nb-checkbox (checkedChange)="toggleStreamer($event)">Are you a streamer? 🚀</nb-checkbox>

        <div *ngIf="isStreamer" id="streamerSettings">
            <input type="text" nbInput [(ngModel)]="ppm" name="ppm" placeholder="$Price/Minute for calls">
            <nb-select placeholder="Select Platform Name" [(ngModel)]="platform_name" nbPosition="bottom" name="platform_name">
                <nb-option value="Youtube">Youtube</nb-option>
                <nb-option value="Twitch">Twitch</nb-option>
            </nb-select>
            <input type="text" nbInput [(ngModel)]="platform_id" name="platform_id" placeholder="Platform Name">
        </div>



        <button nbButton>Submit <input type="submit" style="display:none" value="submit"> </button>
        
     </form>



    
  
  
  </div>
  
  
  
  