<div class="body">
    <div id="animation-wrapper">
        <img id="logo" src="../../../../assets/logo.png" alt="logo" style="width: 50px; height: 50px;">
    </div>
    <div class="right">
        <div class="user-nav" *ngIf="this.googleApi.isLoggedIn()">

            <nb-select size="large" id="select">
                
                <nb-option (click)="handleSelect('Profile')">Profile</nb-option>
                <!-- <nb-option *ngIf="isStreamer" (click)="handleSelect('Setup Streaming')">Stream</nb-option> -->
                <nb-option (click)="handleSelect('Settings')">Settings</nb-option>
                <nb-option (click)="handleSelect('Log out')">Log out</nb-option>
                
            </nb-select>
            <button nbButton (click)="startStream()" size="tiny" id="setup">Stream 🚀</button>
            <img class="pfp" [src]="profilePicSrc" alt="profile image">

        </div>
        
        

        <!-- <app-button *ngIf="this.googleApi.isLoggedIn()" (clickEvent)="this.googleApi.signOut()" text="Log Out"></app-button> -->

    </div>
    

</div>
