@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;


@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */



nav {
  height: 100%;
  width: 100%;
}

.overlay-backdrop {
  background: rgb(0 0 0 / 90%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

