.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

mat-slider {
  width: 100%;
}

:host ::ng-deep mat-slider.mat-slider.mat-slider-horizontal .mat-slider-ticks {
  // make ticks fill full height
  height: 30px;
  // this will force show the ticks
  opacity: 1;
  background-size: 25% 30px !important;

  
}